body {
    background-color: #37505C;
}
:root {
    --orange : #F2C14E;
}
button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 18px;
    transition: 200ms transform;
    font-weight: 600;
    margin-bottom: 50px;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}